# Dependency directories
node_modules/

# Production build folders
build/
dist/

# Local environment files (if you use them for Vite/CRA)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System Files
.DS_Store

# Testing
coverage/

# Debugging logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*